params {
    input = 'data/samplesheet.csv'
    outdir = 'results'
    //star_index = 'reference/star_index'
    hisat2_index = 'reference/hisat2_index'
    gtf = 'reference/annotation/gencode.v43.annotation.gtf'
    rmats_path = System.getenv('RMATS_PATH') ?: 'rmats.py'
}

process {
    cpus = 4
    memory = 16.GB
    
    withName: FASTQC {
        cpus = 4
        memory = 8.GB
    }
    
    withName: HISAT2_ALIGN {
        cpus = 8
        memory = 12.GB
    }
    
    withName: FEATURECOUNTS {
        cpus = 4
        memory = 8.GB
    }
    
    withName: RMATS {
        cpus = 8
        memory = 16.GB
    }
}
