params {
    input = 'data/samplesheet.csv'
    outdir = 'results'
    hisat2_index = 'reference/hisat2_index'
    gtf = 'reference/annotation/gencode.v43.annotation.gtf'
    rmats_path = System.getenv('RMATS_PATH') ?: '/mnt/d/RNA_seq/rmats-turbo/rmats.py'
    
    max_cpus = 8
    max_memory = 18.GB  // Lasse 1GB für System
}

executor {
    name = 'local'
    cpus = 8
    memory = 18.GB
    queueSize = 4  // 4 Jobs parallel - optimal für deine 8 CPUs
}

process {
    errorStrategy = 'retry'
    maxRetries = 1
    
    withName: FASTQC {
        cpus = 2
        memory = 2.GB
    }
    
    withName: HISAT2_ALIGN {
        cpus = 4         // 2x parallel möglich
        memory = 6.GB
    }
    
    withName: FEATURECOUNTS {
        cpus = 2
        memory = 4.GB
    }
    
    withName: RMATS {
        cpus = 8         // Nutzt alle CPUs
        memory = 16.GB
    }
}